In [1]:
"""
Pension Model - Eden Shrian
"""

import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [2]:
#Assumptions
raise_in_wage = 1.0124
yield_from_savings = 1.031
pension_rate = 0.185
interest_rate = 1.021
avg_age_death_women = 84
initial_age = 25
inflation = 1.01



def calc_monthly_effect(rate):
        return rate ** (1/12)
    
class pension:
    
    """Calculator of pension savings"""
    pass

    def __init__(self,wage,num_of_years):
        
        self.wage = wage
        self.interest_rate = 0
        self.pension_saving = 0
        self.num_of_years = num_of_years

    def calc_pension_table(self): 
            
        if type(self.wage) == str:
            raise ValueError('Wage expects to get positive int instead of string')
        elif self.wage < 0:
            raise ValueError('Wage expects Non negative integers')
        else:
            self.wage = [self.wage*calc_monthly_effect(raise_in_wage)**i*calc_monthly_effect(inflation)**i for i in range(self.num_of_years*12)]
            self.interest_rate = [1/(calc_monthly_effect(interest_rate))**i for i in range(self.num_of_years*12)]
        
            dictionary = dict({
                'Wage': self.wage,
                'Interest_rate': self.interest_rate,
            })

            df = pd.DataFrame.from_dict(dictionary)
            df['Pension Saving'] = df['Wage']*pension_rate
            
            self.pension_saving = df['Pension Saving'].tolist()

            return df
    
    def calc_cumulative_provisions(self):
        return round(sum(self.pension_saving),2)
    
    def calc_income_for_retirenment(self):
        
        age_of_retirenement = initial_age +  self.num_of_years
        average_time_to_live = avg_age_death_women - age_of_retirenement
        average_time_to_live = average_time_to_live*12
        
        return round(sum(self.pension_saving)/average_time_to_live,2)

In [3]:
low = pension(4000,42)
avg = pension(7000,42)
high = pension(10000,42)

In [4]:
low.calc_pension_table()

             Wage  Interest_rate  Pension Saving
0     4000.000000       1.000000      740.000000
1     4007.431589       0.998270      741.374844
2     4014.876984       0.996542      742.752242
3     4022.336213       0.994818      744.132199
4     4029.809300       0.993096      745.514720
..            ...            ...             ...
499  10099.893477       0.421385     1868.480293
500  10118.658040       0.420656     1871.951737
501  10137.457466       0.419928     1875.429631
502  10156.291819       0.419202     1878.913987
503  10175.161165       0.418476     1882.404816

[504 rows x 3 columns]

In [5]:
avg.calc_pension_table()

             Wage  Interest_rate  Pension Saving
0     7000.000000       1.000000     1295.000000
1     7013.005280       0.998270     1297.405977
2     7026.034722       0.996542     1299.816424
3     7039.088372       0.994818     1302.231349
4     7052.166274       0.993096     1304.650761
..            ...            ...             ...
499  17674.813585       0.421385     3269.840513
500  17707.651571       0.420656     3275.915541
501  17740.550566       0.419928     3282.001855
502  17773.510684       0.419202     3288.099477
503  17806.532039       0.418476     3294.208427

[504 rows x 3 columns]

In [6]:
high.calc_pension_table()

             Wage  Interest_rate  Pension Saving
0    10000.000000       1.000000     1850.000000
1    10018.578971       0.998270     1853.437110
2    10037.192461       0.996542     1856.880605
3    10055.840532       0.994818     1860.330498
4    10074.523249       0.993096     1863.786801
..            ...            ...             ...
499  25249.733693       0.421385     4671.200733
500  25296.645101       0.420656     4679.879344
501  25343.643666       0.419928     4688.574078
502  25390.729549       0.419202     4697.284966
503  25437.902912       0.418476     4706.012039

[504 rows x 3 columns]

In [7]:
low.calc_cumulative_provisions()

616773.72

In [8]:
low.calc_income_for_retirenment()

3023.4

In [9]:
avg.calc_cumulative_provisions()

1079354.01

In [10]:
avg.calc_income_for_retirenment()

5290.95

In [11]:
high.calc_cumulative_provisions()

1541934.3

In [12]:
high.calc_income_for_retirenment()

7558.5