In [14]:
"""
Pension Model - Eden Shrian
"""

import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [36]:
raise_in_wage = 1.0124
yield_from_savings = 1.031
pension_rate = 0.185
interest_rate = 1.021
avg_age_death_women = 84
initial_age = 25
inflation = 1.01



def calc_monthly_effect(rate):
        return rate ** (1/12)
    
class pension:
    
    pass

    def __init__(self,wage,num_of_years):
        
        self.wage = wage
        self.interest_rate = 0
        self.pension_saving = 0
        self.num_of_years = num_of_years

    def create_dataframe(self): 
        
        
        if type(self.wage) == str:
            raise ValueError('Wage expects to get positive int instead of string')
        elif self.wage < 0:
            raise ValueError('Wage expects Non negative integers')
        else:
            self.wage = [self.wage*calc_monthly_effect(raise_in_wage)**i*calc_monthly_effect(inflation)**i for i in range(self.num_of_years*12)]
            self.interest_rate = [1/(calc_monthly_effect(interest_rate))**i for i in range(self.num_of_years*12)]
        
            dictionary = dict({
                'Wage': self.wage,
                'Interest_rate': self.interest_rate,
            })

            df = pd.DataFrame.from_dict(dictionary)
            df['Pension Saving'] = df['Wage']*pension_rate
            
            self.pension_saving = df['Pension Saving'].tolist()

            return df
    
    def calc_cumulative_provisions(self):
        return round(sum(self.pension_saving),2)
    
    def calc_income_for_retirenment(self):
        
        age_of_retirenement = initial_age +  self.num_of_years
        average_time_to_live = avg_age_death_women - age_of_retirenement
        average_time_to_live = average_time_to_live*12
        
        return round(sum(self.pension_saving)/average_time_to_live,2)

In [37]:
low = pension(4000,40)

In [38]:
low.create_dataframe()

            Wage  Interest_rate  Pension Saving
0    4000.000000       1.000000      740.000000
1    4007.431589       0.998270      741.374844
2    4014.876984       0.996542      742.752242
3    4022.336213       0.994818      744.132199
4    4029.809300       0.993096      745.514720
..           ...            ...             ...
475  9659.836435       0.439269     1787.069741
476  9677.783418       0.438509     1790.389932
477  9695.763744       0.437751     1793.716293
478  9713.777475       0.436993     1797.048833
479  9731.824675       0.436237     1800.387565

[480 rows x 3 columns]

In [39]:
low.calc_cumulative_provisions()

572546.5

In [40]:
low.calc_income_for_retirenment()

2511.17